<div class="container">

<header></header>
<log></log>
<footer></footer>
      <!--header -->

   <!-- <div class="scroll">
        <table>
             <tr>
                 <td> 
                    <span class="glyphicon glyphicon-search" id="search">
                    <input type = "text" class="form-control"></span>  
                </td>
                <td class="role-dropdown">
                    <select name="role"  class="form-control full-content-imp ">
                    <option *ngFor="let role of roles" [value]="role.value">  {{role.display}} </option>
                    </select>
                </td>
            </tr>
            <tr>
              <td >
                 <select name="hobbies" class="form-control full-content-imp" >
                 <option *ngFor="let role of hobbies" [value]="role.value"> {{role.display}}   </option>
                 </select>     
            </td>
            <td  class="checkbox">
                <label *ngFor="let stat of status">
                <input type="checkbox" >{{ stat.display }}
                 </label>
            </td> 
            <td>   
                <div class="movedate">
                <label for ="date"></label>
                <input type="date" name="date"  id="from">
                 </div>
             </td>
            <td >   
                <div class="move">
                <label for ="date"></label>
                <input type="date" name="date"  id="from"> 
                </div>
            </td>
          </tr><br>
        </table>
    </div>-->


    <!--contact list-->

<!--
 <div *ngFor='let contact of month' class="contactlist">
    <p><b>{{contact.month}}</b></p>
       <table  class="list">
           <tr *ngFor='let attachment of contact.attachments'  > 
                <i class="material-icons" id="rotatedoc" >attachment</i>
                    <td id="attachment"><span ><panel  class="list"  [title]="attachment.attach" ><br>
                        <p>Some text here for description</p>
                        <p> <i class="material-icons" id="rotatedoc">attachment</i>
                        <p> <span id="attachment1">Document1</span></p>
                        <td id="category">Category1>sub1</td> <td id="category">Category2>sub2</td><br>
                        <p>Call in bound, normal</p>
                    </panel></span></td><br><br>
            </tr>
        </table><br>   
</div>  --> 
                    
                
          <!--Footer Add contact-->  
       
                   
<!--<div class="position">
    <div  *ngIf='!showdiv'>
        <table> 
            <tr class="contact">
                <td id="addcontact" (click)="show()">Add anew contact?</td>
                <td id="maximize" ><i class="fa fa-window-maximize" (click)="show()"></i></td>
            </tr>
        </table>
    </div>
    <div *ngIf='showdiv' class="position">
        <table>
            <tr class="contact">
                <td>
                    <select name="hobbies" class="form-control footer-dropdown">
                    <option *ngFor="let role of hobbies" [value]="role.value"> {{role.display}}</option>
                    </select>     
                </td>
                <td class="padding">
                    <select name="hobbies"  class="form-control footer-dropdown1">
                    <option *ngFor="let role of hobbies" [value]="role.value"> {{role.display}}   </option>
                     </select>     
                </td>
                <td>
                    <i class="fa fa-window-minimize minimize" (click)="show()"  ></i>
                </td>
            </tr><br><br>
            <tr class="contact">
                <td>
                    <textarea  placeholder="Description/Notes" class="form-control text-area"></textarea>
                </td>      
            </tr><br><br><br>
            <tr>
                <td id="textarea">
                    <input type = "text" class="form-control" placeholder="Categories">
                </td>      
                    <td id="dropdown">
                        <select name="hobbies" class="form-control" id="color">
                        <option *ngFor="let role of hobbies" [value]="role.value"> {{role.display}}   </option>
                        </select>     
                    </td>
            </tr>
        </table>
    </div>
</div>
</div>-->
                          
                        