<div class="container">
   <br><br><br>
  
      <div class = "form-group">
         <label for = "id">ID</label>
         <input type = "text" class = "form-control" id = "id" required>
           
      </div>
      <br>
	  
      <div class = "form-group">
         <label for = "name">Name</label>
         <input type = "text" class = "form-control" id = "name"
            >
      </div><br><br>
	   <a routerLink = "/user"> login  </a>
                               
                          
     <router-outlet></router-outlet>